@import url('https://fonts.googleapis.com/css2?family=Varela+Round&display=swap');
*{
    padding: 0;
    margin: 0;
    font-family: 'Varela Round', sans-serif;
}
body{
    
    background-color: #F5EFE7;
}
#input-item{
    height: 3rem;
    width: 50%;
    border-radius: 10px;
    outline:none;
    font-size: 25px;
    padding-left: 1%;
    margin: 1%;
}
#btnIngresar{
    all: unset;
    border-radius: 12px;
    padding: 3px;
    height: 3.15rem;
    background-color: #4F709C;
    cursor: pointer;
}

.contenedor-ingreso{
    margin: 5%;
    color: #ffffff;
    background-color: #213555;
    border-radius: 12px;
    height: 20vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 3%;
}
.contenedor-lista{
    display: flex;
    background-color: #213555;
    flex-direction: column;
    align-items: center;
    text-align: center;
    margin-left: 25%;
    margin-right: 25%;
    border-radius: 12px;
}
.ingresado{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    height: auto;
    width: 70%;
    color: #ffffff;
    border: 1px solid #ffffff;
    padding: 1%;
    border-radius: 10px;
    margin: 5px;
}
.borrarItem{
    cursor: pointer;
}
